:root{
     --BgColor: rgb(60, 60, 60);
     --BannerColor: grey;
}
* {
    margin: 0;   
    padding: 0;
}
.banner1{
    background-color: var(--BannerColor);
    width: 100vw;
    height: 10vh;
    display: flex;
}
.nav1 > a{
    display: flex;
    text-decoration: none;
    color: black;
    font-size: 40px;
    
}
.nav1 > a:hover{
    color: cyan;
}
.nav1{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 11vw;
    margin-top: 14px;

}
.logo{
    height: 10vh;
    width: auto;
}
html{
    background-color: var(--BgColor);
}
.welkom{
    font-size: 35px;
    margin-top: 19px;
    width: 34vw;
}
.voet{
    background-color: var(--BannerColor);  
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 14vh;
    display: flex;
    gap: 15vw;
}
.sec1{
    margin-top:20px;
    margin-right: 7vw;
}
.voettekst{
    font-size: 40px;
    margin-top: 30px;
}