:root[data-mode='light']{
     --BgColor: rgb(124, 124, 124);
     --BannerColor: rgb(210, 210, 210);
     --textColor: black;
     --borderColor: #222;
}
:root[data-mode='dark']{
     --BgColor: rgb(33, 33, 33);
     --BannerColor: rgb(86, 86, 86);
     --textColor: rgb(255, 255, 255);
     --borderColor: rgb(124, 124, 124);
}
html {
    color: var(--textColor) !important;
}

* {
    margin: 0;   
    padding: 0;
}
main{
    min-height: 80vh;
    margin-top: 10vh;
}
#lightdark {
 font-size: 1.3rem;
 margin-top: 5vh;
}
.banner1{
    background-color: var(--BannerColor);
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: solid cyan;
}
.nav1 > a{
    display: flex;
    text-decoration: none;
    color: var(--textColor);
    font-size: 40px;
    
}
.nav1 > a:hover{
    color: cyan;
}
#login{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#register{
    margin-top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#textlogin{
    margin-bottom: 5vh;
    font-size: 5dvb;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#username{
    border: solid black;
    border-radius: 10px;
    height: 2vh;
    width: 13vw;
}
#password{
    border: solid black;
    border-radius: 10px;
    height: 2vh;
    width: 13vw;
}
#submitpassword{
    color: cyan;
    background-color: black;
    width: 8vw;
    height: 4vh;
    font-size: larger;
    border: solid cyan;
    border-radius: 10px;
    margin-right: 1vw;
    margin-top: 5vh;
}
#loguitknop{
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logoutbutton{
    color: crimson;
    background-color: black;
    width: 8vw;
    height: 4vh;
    font-size: larger;
    border: solid crimson;
    border-radius: 10px;
    margin-top: 5vh;
    position: absolute;
}
.nav1{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 11vw;
    margin-top: 14px;

}
.logo{
    height: 10vh;
    width: auto;
}
html{
    background-color: var(--BgColor);
}
.welkom{
    font-size: 35px;
    margin-top: 19px;
    width: 34vw;
}
.voet{
    background-color: var(--BannerColor);  
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 14vh;
    display: flex;
    gap: 5vw;
    border-top: solid cyan;
}
.sec1{
    margin-top:20px;
    margin-right: 7vw;
}
.voettekst{
    font-size: 40px;
    margin-top: 30px;
}
.voetvierkant{
    font-size: 40px;
}
.banner2{
    background-color: var(--BannerColor);
    width: 100vw;
    height: 10vh;
    display: flex;
    position: fixed;
    top: 0;
    border-bottom: solid cyan;
}
.nav2 > a{
    display: flex;
    text-decoration: none;
    color:  var(--textColor);
    font-size: 40px;
    
}
.nav2 > a:hover{
    color: cyan;
}
.nav2{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 11vw;
    margin-top: 14px;

}
.cookies {
    display: flex;
}

.title {
    text-align: center;
    font-size: 32px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--corgi-candy);
    border-radius: 10px;
}

.cookies {
    width: 100%;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: var(--corgi-candy);
}

#cookie-counter {
    width: 80%;
    text-align: center;
    font-size: 42px;
}

#cookie-counter {
    line-height: 1.4; 
}

#cookie {
    margin-top: 50px;
    width: 50vw;
    height: auto;
    margin-left: 26vw;
}
#request{
    margin-top: 20vh;
}
.gameknop1,
.gameknop2,
.gameknop3,
.gameknop4 {
    width: 350px;          
    height: 350px;        
    background-color: #222;
    border-radius: 20px;   
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 20px;
    border: solid black 3px;
    border-color: var(--borderColor);
   
}
.gameholder{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.gameknop1 > a > img
{
   width: 300px;
    height: auto; 
}
.gameknop2 > a > img {
    width: 300px;
    height: auto;
}
.gameknop3 > a > img {
    width: 300px;
    height: auto;
}
.gameknop4 > a > img {
    width: 300px;
    height: auto;
}


